body {
    background-color: chocolate;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: black;
    font-size: 200%;

}

img {
    width: 30%;
    display: block;
    margin: 0 auto;

}

p {
    color: rgb(white, green, blue);
    font-size: 100%;
    width: 60%;

}